main {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  background: var(--semi-light-violet);
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  color: var(--light-violet);
}

.about-item img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}



.proyectos{
  box-sizing: border-box; /* Asegura que el borde esté dentro del elemento */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--dark-violet);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.proyectos:hover{
  border: 1px solid;
}

.proyectos img {
  width: 60px;
  border-radius: 10px;
  box-shadow: none;
}

.proyecto-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


h2 {
  background: var(--dark-violet);
  padding: 12px 100px;
  border-radius: 4px;
}

@media (min-width: 700px) {
  main {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  main {
    margin: 0 auto;
  }
}
