/* FIRST MOBILE */

:root {
  --light-violet: #c6a7f2;
  --semi-light-violet: #8469bf;
  --dark-violet: #4703a6;
  --very-dark-violet: #0f0140;
  --white-violet: #ece2fa;
}

.max-width {
  max-width: 1000px;
}

#header-desktop{
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: var(--light-violet);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-violet);
  font-weight: 600;
}

header {
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #4703a6bf;
  width: 70%;
  height: 100vh;
  gap: 40px;
}

.logo {
  width: 100%;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 22px;
  color: #4703a6;
  cursor: pointer;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.open-menu,
.close-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  z-index: 10;
  background-color: var(--white-violet);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  cursor: pointer;
}

.close-menu {
  display: none;
}

.nav-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 180px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

ul li:last-child {
  background: var(--very-dark-violet);
  padding: 15px 55px;
  border-radius: 25px;
  color: var(--light-violet);
}

#active {
  display: none;
}

/* MAIN */

main {
  margin-top: 100px;
}

/* section portada */
.portada {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.info-portada {
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: var(--white-violet);
  text-align: center;
}

.info-portada h1 {
  font-size: 35px;
}

.info-portada p {
  font-size: 28px;
}

.imagen-portada img {
  width: 100%;
  border-radius: 15px;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/* Skills */

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title img {
  width: 40px;
  height: auto;
}

.skills h2 {
  font-size: 40px;
  color: var(--very-dark-violet);
  font-weight: 800;
}

/*.skills {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
*/

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 18px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--very-dark-violet);
  padding: 30px;
  color: var(--light-violet);
  border-radius: 30px;
}

/* Footer */

footer {
  background-color: var(--very-dark-violet);
  padding: 40px;
}

footer ul a {
  margin: 5px;
  font-size: 20px;
}

footer ul a:last-child {
  background: var(--dark-violet);
  padding: 15px 60px;
  border-style: dashed;
  border-radius: 15px;
}

/* Media Query */

@media (min-width: 700px) {
  .portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }

  .skills {
    margin-top: 180px;
    margin-bottom: 180px;
  }

  .skills .title{
    margin-bottom: 80px;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}



@media (min-width: 1200px) {
  main {
    margin: 0 auto;
    margin-top: 200px;
  }


  #header-mobile {
    display: none;
  }

  #header-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .max-width{
    width: 1200px;
  }

  .nav-elements {
    margin: 0;
    white-space: nowrap;
  }

  .nav-elements ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .li-button{
    cursor: pointer;
  }

  ul li .button-contact{
    color: var(--light-violet);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }

  .nav-elements ul li .element{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--dark-violet);
  }

  footer ul{
    display: flex;
    flex-direction: row;
  }

  footer ul a {
    margin: 5px;
    font-size: 16px;
  }
  
  footer ul a:last-child {
    background: var(--white-violet);
    padding: 15px 60px;
    border-style: none;
    border-radius: 6px;
    color: var(--semi-light-violet);
  }
}

@media (max-width: 1200px) {
  main {
    margin: 0 auto;
    margin-top: 180px;
  }
}
